<h3>Your bet: <%= @round.bet %> roubles</h3>
<h3>Your balance: <%= @round.game.balance %> roubles</h3>
<div class="player-hand"><h3>Your cards:</h3>
  <% @round.player_hand.cards.each do |card| %>
    <span class="card"><%= card.rank %><%= card.suit %></span>
  <% end %>
</div>
<div class="dealer-hand"><h3>Dealer's cards:</h3>
  <span class="card"><%= @round.dealer_hand.cards.first.rank %><%= @round.dealer_hand.cards.first.suit %></span>
  <span class="card">????</span>
</div>

<div class="player-actions">
  <h2>Your Actions:</h2>
  <%= button_to "Hit", "/games/#{@round.game.id}/rounds/#{@round.id}/hit", method: :patch %>
  <%= button_to "Double", "/games/#{@round.game.id}/rounds/#{@round.id}/double", method: :patch %>
</div>
