<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flash flash-alert">
      <strong>
        <%= flash.alert %>
      </strong>
    </div>
    <%= yield %>
  </body>
</html>
